@import "tailwindcss";

body
,.container,
main {
    background-color: pink;
}

progress {
    background-color: pink;
    accent-color: orangered;
}

button{
    padding: 0px 1rem;
    color: #fff;
    background-color: rgb(219, 94, 115);
    border: rgb(206, 47, 90) 2px solid;
    border-radius: 4px;
    font-weight: 900;
    font-size: 24px;
    margin: 4px;
    /* aquamarine */
}

.valentine-question {
    color: #8B0000;
    font-size: 5rem;
}
button {
    cursor: pointer;
    min-width: 150px;
    height: 50px;
}
